@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white-text: #ffffff;
    --orange-text: #F68C68;
    --blue-background-100: #101935;
    --blue-background-200: #28335E;
    --blue-background-300: #101935;
}

p {
    font-size: 15px;
    color: var(--white-text);
}

h1 {
    font-size: 50px;
    color: var(--white-text);
}

h2 {
    font-size: 30px;
    color: var(--white-text);
}

h3 {
    font-size: 20px;
    color: var(--white-text);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-background-100);
}

.nav-bar {
    align-items: center;
    display: flex;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;

            li {
                font-size: 10px;

                &:hover {
                    background-color: var(--orange-text);
                    border-radius: 25px;
                    padding: 0px 5px;
                }
            }
        }
    }
}

.page{
    /* 
    overflow,   hides any content that overflows the boundaries
    100vh,  is to set the height to 100 view port height 
    background-size:cover,  makes sure the background image covers the entire container 
    background-repeat,  makes sure that the image does not repeat 
    background-position,    makes sure the image is set in the middle of the background
    background-image, sets the background image
    url(),  specifies the location of an img, font, media 
        / means from home
        ./ from here
        ../ from the folder above
    position: relative,     sets the element to its ori position 

    absolute vs relative
        relative sets the element to be its ori position
        absolute sets the element position to be based on the parent that has any relative, fixed, absolute or sticky
            sets to html if cannot find
        relative wont overlap other elements unless specified, 
        absolute will overlap other elements easily
    */
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/img/background2.png");
    position: relative;
    display: flex;
    flex-direction: column;
}

.page span {
    /*
    left: 100%,     means that the span will spawn on the right side of the screen
    box-shadow,     creates shadow effect
    0 0 8px rgba(255, 255, 255, 0.8),     
        horizontal offest,  how far the shadow moves horizontally
        vertical offset,    how far the shadow moves vertically
        blur radius,    adds a blur effect to the shadow
        (optional) spread radius
        color
    
    rgba( red, green, blue, alpha )
        rgb can go from 0 to 255 
        alpha, range of 0 to 1 
            0 invisible
            1 solid color
    */
    position: absolute;
    top: 0%;
    left: 100%;
    width: 10px; /* Adjust size for visibility */
    height: 10px;
    background: white;
    border-radius: 50%; /* Make the star circular */
    box-shadow:     0 0 20px rgba(255, 255, 255, 0.9),  /* Bright white core */
    0 0 40px rgba(255, 255, 0, 0.7),   /* Yellow glow */
    0 0 80px rgba(255, 215, 0, 0.6);   /* Extended soft glow */
    animation: shootingStar 5s linear infinite;
    opacity: 0;

    /* Blurry effect */
    filter: blur(1px);
}

/* Create the trail */
.page span::before {
    /*
    content,    sets the element before span to be nothign 
    transform: translateY(-50%),    used to adjust the vertical position of the psuedo element
    linear-gradient( direction, color1, color2, ... )
    
    background: linear-gradient(to right, red, blue);
        makes the gradient go from red to blue from left to right 
    
    linear-gradient(90deg, rgba(255, 255, 255, 1), transparent);
        makes it gradient from left to right horizontally, 
        makes it go from white to transparent 

    */
    content: "";
    position: absolute;
    top: 50%; /* Align with the center of the star */

    /* this controls the angle of the trail? */
    transform: translateY(-50%);
    
    width: 200px; /* Length of the trail */
    height: 2px; /* Thickness of the trail */
    background: linear-gradient(90deg, rgba(0 , 255, 255, 0.9), transparent);
}

/* this creates the animation */
@keyframes shootingStar {
    0%{

        /* translateX controls how fast it goes down*/
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    1%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-5000px);
        opacity: 0;
    }
}


.text{
    color: var(--white-text);
}

.home-text {
    position: relative;
    display: flex;
    flex-direction: column;

    /* 
    align items,    makes it center vertically
    justify-content,    makes it center horizontaly
    
    width and height,   to make sure it covers the entire page
    */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    h1 {
        padding-right: 100px; 
        text-align: left;
    }

    h2 {
        padding-left: 100px;
        text-align: left;
    }

}

.about-header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;

    margin-top: 10px;
}

.card {
    /*
    background-color:,  makes the card
    z-index:,   handles the layering
    outline: 2px solid var(--orange-text);,     thickness of outline, type of line, color
    */
    display: flex;
    background-color: var(--blue-background-300);
    z-index: 2;
    
    
    outline: 2px solid var(--orange-text);
    box-shadow: 
    0 0 15px rgba(246, 140, 104, 1),  /* More intense inner glow */
    0 0 30px rgba(246, 140, 104, 0.8), /* Mid-range glow */
    0 0 45px rgba(246, 140, 104, 0.6); /* Stronger outer glow */

}

.about-me {
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 70%;
    border-radius: 20px;
    position: absolute;

    .about-me-text {
        flex:1;
        padding-left: 20px;

        .about-me-text-header {
            text-align: center;
            padding-bottom: 20px;
        }
        .about-me-text-text {
            padding-bottom: 20px;
        }
    }

    .about-me-image {
        flex:1;

        overflow: hidden; /* Clipping content outside */


        img {
            height: 80vh;
            object-fit: cover; /* Ensure image scales properly */
        }
    }
}

/*
makes the content that overflow to be auto scroll
*/
.project {
    overflow-y: auto;
}

.project-header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;

    margin-top: 10px;
}



.project-collection {
    display: flex;  
    position: relative;
    flex: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    gap: 20px;
    justify-content: center;


    .project-card {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 20px;
        flex-direction: column;


        img {
            /* 
            object-fit: cover;,     makes the image maintain its aspect ratio, but makes the image zoom out
            */
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .project-text {
            padding-left: 10px;
            padding-right: 10px;
            
            /* 
            makes the text not overflow out of the card

            word-wrap / overflow-wrap,  makes the text, go to the next line
            white-space,    ensures text behaves and breaks to the next line when needed
            overflow,   makes sure that no content exceeds the borders
            */
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;


        }

        .project-tag-collection {
            /* 
            margin-top: auto;,  makes it so that the tags appear at the bottom
                only works when the parent's display is flex or grid
                it grows the top margin as much as possible 
            */
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 10px;

            margin-top: auto;

            .project-tag {
                display: flex;
                width: auto;
                height: auto;
                padding: 2px 10px;
                background-color: var(--orange-text);
                border-radius: 25px;
                text-align: center;
                justify-content: center;
            }
        }


    }


}




.experience {
    overflow-y: auto;
}


.experience-header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;

    margin-top: 10px;
}



.experience-collection {
    display: flex;  
    position: relative;
    flex: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    gap: 20px;
    justify-content: center;


    .experience-card {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 20px;
        flex-direction: column;


        img {
            /* 
            object-fit: cover;,     makes the image maintain its aspect ratio, but makes the image zoom out
            */
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .experience-text {
            padding-left: 10px;
            padding-right: 10px;
            
            /* 
            makes the text not overflow out of the card

            word-wrap / overflow-wrap,  makes the text, go to the next line
            white-space,    ensures text behaves and breaks to the next line when needed
            overflow,   makes sure that no content exceeds the borders
            */
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;


        }

        .experience-tag-collection {
            /* 
            margin-top: auto;,  makes it so that the tags appear at the bottom
                only works when the parent's display is flex or grid
                it grows the top margin as much as possible 
            */
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 10px;

            margin-top: auto;

            .experience-tag {
                display: flex;
                width: auto;
                height: auto;
                padding: 2px 10px;
                background-color: var(--orange-text);
                border-radius: 25px;
                text-align: center;
                justify-content: center;
            }
        }


    }


}




/*
How does this work?

1) makes the gradient colros
2) makes the gradients larger than the elements themselve 
3) makes the text color transparent so that can see the gradient which is in the background
4) clips the gradient to the text, means the gradient is only visible in the text boundary
5) at the start of the animation, at start, gradient position = 0% horizontally, 50% vertically, means on the left side center
6) at 50%, the gradient is on the right, 100% horizontally and stil on the center

.gradient-text {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, red, yellow, green, blue, purple);
    background-size: 400% 400%; 
    color: transparent; 
    background-clip: text; 
    -webkit-background-clip: text; 
    animation: gradientAnimation 5s ease infinite; 
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}
*/

